<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/SAMEER/New folder (2)/BBDAssignments/RTWAssignmentTestNG">
        <classes>
            <!--<class name="org.megento.Registration">
                <methods>
                    <include name="navigateToSite"/>
                    <include name="registration"/>
                    <include name="closingBrowser"/>
                </methods>
            </class>-->
            <class name="org.megento.Signin">
            <methods>
                <include name="openBrowser"/>
                <include name="signin"/>
                <include name="invalidEmailformat"/>
                <include name="invalidCreds"/>
                <include name="browserClose"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>